nodejs/packages/node-red-contrib-periph-adc-dac/examples/mcp4728/demo.json
[
    {
        "id": "tab-mcp4728-demo",
        "type": "tab",
        "label": "MCP4728 Quad DAC Demo",
        "disabled": false,
        "info": "Drives the four channels of an MCP4728 quad 12-bit DAC. Four inject nodes target channels A–D individually with fractions 0.0, 0.25, 0.5, 0.75. A fifth inject node sends the array [0.1, 0.4, 0.7, 1.0] to update all four channels simultaneously via Fast Write. Each applied value is printed to the debug panel showing the channel, the fraction, and the approximate voltage assuming a 3.3 V supply."
    },
    {
        "id": "cfg-mcp4728",
        "type": "mcp4728-device",
        "name": "MCP4728",
        "bus": "1",
        "address": "60"
    },
    {
        "id": "inj-A",
        "type": "inject",
        "name": "A = 0.0",
        "topic": "",
        "payload": "0.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4728-demo",
        "x": 120,
        "y": 80,
        "wires": [["mcp4728-A"]]
    },
    {
        "id": "inj-B",
        "type": "inject",
        "name": "B = 0.25",
        "topic": "",
        "payload": "0.25",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4728-demo",
        "x": 120,
        "y": 160,
        "wires": [["mcp4728-B"]]
    },
    {
        "id": "inj-C",
        "type": "inject",
        "name": "C = 0.5",
        "topic": "",
        "payload": "0.5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4728-demo",
        "x": 120,
        "y": 240,
        "wires": [["mcp4728-C"]]
    },
    {
        "id": "inj-D",
        "type": "inject",
        "name": "D = 0.75",
        "topic": "",
        "payload": "0.75",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4728-demo",
        "x": 120,
        "y": 320,
        "wires": [["mcp4728-D"]]
    },
    {
        "id": "inj-all",
        "type": "inject",
        "name": "All = [0.1, 0.4, 0.7, 1.0]",
        "topic": "",
        "payload": "[0.1, 0.4, 0.7, 1.0]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4728-demo",
        "x": 180,
        "y": 420,
        "wires": [["mcp4728-all"]]
    },
    {
        "id": "mcp4728-A",
        "type": "periph-mcp4728",
        "name": "MCP4728 A",
        "device": "cfg-mcp4728",
        "channel": "A",
        "inputMode": "fraction",
        "vref": "external",
        "gain": "x1",
        "persist": false,
        "z": "tab-mcp4728-demo",
        "x": 360,
        "y": 80,
        "wires": [["dbg"]]
    },
    {
        "id": "mcp4728-B",
        "type": "periph-mcp4728",
        "name": "MCP4728 B",
        "device": "cfg-mcp4728",
        "channel": "B",
        "inputMode": "fraction",
        "vref": "external",
        "gain": "x1",
        "persist": false,
        "z": "tab-mcp4728-demo",
        "x": 360,
        "y": 160,
        "wires": [["dbg"]]
    },
    {
        "id": "mcp4728-C",
        "type": "periph-mcp4728",
        "name": "MCP4728 C",
        "device": "cfg-mcp4728",
        "channel": "C",
        "inputMode": "fraction",
        "vref": "external",
        "gain": "x1",
        "persist": false,
        "z": "tab-mcp4728-demo",
        "x": 360,
        "y": 240,
        "wires": [["dbg"]]
    },
    {
        "id": "mcp4728-D",
        "type": "periph-mcp4728",
        "name": "MCP4728 D",
        "device": "cfg-mcp4728",
        "channel": "D",
        "inputMode": "fraction",
        "vref": "external",
        "gain": "x1",
        "persist": false,
        "z": "tab-mcp4728-demo",
        "x": 360,
        "y": 320,
        "wires": [["dbg"]]
    },
    {
        "id": "mcp4728-all",
        "type": "periph-mcp4728",
        "name": "MCP4728 All",
        "device": "cfg-mcp4728",
        "channel": "A",
        "inputMode": "fraction",
        "vref": "external",
        "gain": "x1",
        "persist": false,
        "z": "tab-mcp4728-demo",
        "x": 420,
        "y": 420,
        "wires": [["dbg"]]
    },
    {
        "id": "dbg",
        "type": "debug",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "z": "tab-mcp4728-demo",
        "x": 660,
        "y": 240,
        "wires": []
    }
]
