nodejs/packages/node-red-contrib-periph-pressure/examples/bmp280/demo.json
[
    {
        "id": "bmp280-device-1",
        "type": "bmp280-device",
        "name": "BMP280 @ i2c-1",
        "bus": "1",
        "addr": "0x76",
        "osrsT": "1",
        "osrsP": "1",
        "mode": "1",
        "filter": "0",
        "tSb": "0"
    },
    {
        "id": "bmp280-read-1",
        "type": "periph-bmp280",
        "name": "BMP280 Weather",
        "device": "bmp280-device-1",
        "seaLevelHpa": "1013.25",
        "wires": [["debug-1", "chart-temp-1", "chart-pres-1", "chart-alt-1"]]
    },
    {
        "id": "inject-timer-1",
        "type": "inject",
        "name": "Every 5 seconds",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "onceDelay": "0.1",
        "wires": [["bmp280-read-1"]]
    },
    {
        "id": "debug-1",
        "type": "debug",
        "name": "Debug output",
        "active": true,
        "tosideuit": false,
        "console": "false",
        "tostatus": "false",
        "complete": "payload",
        "targetType": "msg",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "chart-temp-1",
        "type": "ui_chart",
        "name": "Temperature",
        "group": "bmp280-group-1",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperature (°C)",
        "chartType": "line",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "chart-pres-1",
        "type": "ui_chart",
        "name": "Pressure",
        "group": "bmp280-group-1",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Pressure (hPa)",
        "chartType": "line",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "chart-alt-1",
        "type": "ui_chart",
        "name": "Altitude",
        "group": "bmp280-group-1",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Altitude (m)",
        "chartType": "line",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "inject-indoor-1",
        "type": "inject",
        "name": "Switch to indoor navigation",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0",
        "crontab": "",
        "onceDelay": "0.1",
        "wires": [["reconfig-function-1"]]
    },
    {
        "id": "reconfig-function-1",
        "type": "function",
        "name": "Reconfigure for indoor nav",
        "func": "var device = RED.nodes.getNode('bmp280-device-1');\nif (device && device.driver) {\n    device.driver.configure(2, 5, 3, 4, 0);\n    node.status({text: 'indoor nav mode: ×16/×2, filter=16, normal'});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 440,
        "wires": [["bmp280-read-1"]]
    },
    {
        "id": "bmp280-group-1",
        "type": "ui_group",
        "name": "BMP280 Weather Station",
        "tab": "bmp280-tab-1",
        "order": 1,
        "disp": true,
        "width": 12
    },
    {
        "id": "bmp280-tab-1",
        "type": "ui_tab",
        "name": "BMP280 Demo",
        "icon": "dashboard",
        "order": 1,
        "info": "This flow demonstrates the BMP280 barometric pressure sensor in two modes.\n\n**Weather monitoring** (default): forced mode, ×1/×1 oversampling, filter off — the lowest power setting from BMP280 datasheet Table 7. An inject node fires every 5 seconds, reading temperature, pressure, and computed altitude. Charts show slow ambient drift.\n\n**Indoor navigation**: click the \"Switch to indoor navigation\" button to reconfigure for normal mode at ~26 Hz with ×16/×2 oversampling and IIR coefficient 16. The altitude chart noise drops from ~50 cm to a few cm as the IIR filter converges over ~0.85 seconds.\n\nAdjust the sea-level reference pressure in the BMP280 read node to calibrate altitude to your location."
    }
]
