nodejs/packages/node-red-contrib-periph-adc-dac/examples/hx711/demo.json
[
    {
        "id": "tab-hx711-demo",
        "type": "tab",
        "label": "HX711 Scale Demo",
        "disabled": false,
        "info": "Kitchen scale demo using the HX711 24-bit ADC and a load cell. On deploy, an inject node sends 'tare' to zero the scale. Every 2 seconds a second inject node triggers a weight reading. The HX711 node outputs { raw, weight } — weight in grams using the configured scale factor. The debug node shows msg.payload.weight; the gauge displays it as a live reading. Requires node-red-dashboard for the gauge. Set DOUT and PD_SCK to your GPIO pin numbers and calibrate the scale factor before use."
    },
    {
        "id": "inj-tare",
        "type": "inject",
        "name": "Tare on deploy",
        "topic": "",
        "payload": "tare",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "z": "tab-hx711-demo",
        "x": 140,
        "y": 100,
        "wires": [["hx711"]]
    },
    {
        "id": "inj-read",
        "type": "inject",
        "name": "Read every 2 s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-hx711-demo",
        "x": 140,
        "y": 200,
        "wires": [["hx711"]]
    },
    {
        "id": "hx711",
        "type": "periph-hx711",
        "name": "HX711",
        "doutPin": "5",
        "pdSckPin": "6",
        "gain": "128",
        "scaleFactor": "420.0",
        "tareOffset": "0",
        "z": "tab-hx711-demo",
        "x": 360,
        "y": 200,
        "wires": [["dbg-weight", "gauge-weight"]]
    },
    {
        "id": "dbg-weight",
        "type": "debug",
        "name": "weight (g)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.weight",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "z": "tab-hx711-demo",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge-weight",
        "type": "ui_gauge",
        "name": "Scale (g)",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Weight",
        "label": "g",
        "format": "{{payload.weight | number:1}}",
        "min": "0",
        "max": "1000",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "500",
        "seg2": "800",
        "className": "",
        "z": "tab-hx711-demo",
        "x": 580,
        "y": 240,
        "wires": []
    }
]
