nodejs/packages/node-red-contrib-periph-environmental/examples/bme680/demo.json
[
    {
        "id": "bme680-device-1",
        "type": "bme680-device",
        "name": "BME680 @ i2c-1",
        "bus": "1",
        "addr": "0x76",
        "osrsT": "1",
        "osrsP": "1",
        "osrsH": "1",
        "filter": "0",
        "heaterTemp": "320",
        "heaterDur": "150"
    },
    {
        "id": "bme680-read-1",
        "type": "periph-bme680",
        "name": "BME680 Air Quality",
        "device": "bme680-device-1",
        "seaLevelHpa": "1013.25",
        "wires": [["debug-1", "chart-temp-1", "chart-pres-1", "chart-hum-1", "chart-gas-1", "chart-alt-1", "chart-dew-1"]]
    },
    {
        "id": "inject-timer-1",
        "type": "inject",
        "name": "Every 10 seconds",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "onceDelay": "0.1",
        "wires": [["bme680-read-1"]]
    },
    {
        "id": "debug-1",
        "type": "debug",
        "name": "Debug output",
        "active": true,
        "tosideuit": false,
        "console": "false",
        "tostatus": "false",
        "complete": "payload",
        "targetType": "msg",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "chart-temp-1",
        "type": "ui_chart",
        "name": "Temperature",
        "group": "bme680-group-1",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperature (°C)",
        "chartType": "line",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "chart-pres-1",
        "type": "ui_chart",
        "name": "Pressure",
        "group": "bme680-group-1",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Pressure (hPa)",
        "chartType": "line",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "chart-hum-1",
        "type": "ui_chart",
        "name": "Humidity",
        "group": "bme680-group-1",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidity (%RH)",
        "chartType": "line",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "chart-gas-1",
        "type": "ui_chart",
        "name": "Gas Resistance",
        "group": "bme680-group-1",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Gas Resistance (Ohm)",
        "chartType": "line",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "chart-alt-1",
        "type": "ui_chart",
        "name": "Altitude",
        "group": "bme680-group-1",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Altitude (m)",
        "chartType": "line",
        "x": 480,
        "y": 500,
        "wires": []
    },
    {
        "id": "chart-dew-1",
        "type": "ui_chart",
        "name": "Dew Point",
        "group": "bme680-group-1",
        "order": 6,
        "width": 6,
        "height": 4,
        "label": "Dew Point (°C)",
        "chartType": "line",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "voc-alert-1",
        "type": "function",
        "name": "VOC Alert",
        "func": "var readings = context.get('readings') || [];\nreadings.push(msg.payload.gas_resistance);\nif (readings.length > 144) readings.shift();\ncontext.set('readings', readings);\nif (readings.length >= 10 && msg.payload.gas_resistance !== null) {\n    var sorted = readings.slice().sort(function(a,b){return a-b;});\n    var median = sorted[Math.floor(sorted.length/2)];\n    if (msg.payload.gas_resistance < median * 0.8) {\n        msg.payload = 'VOC concentration rising: ' + msg.payload.gas_resistance.toFixed(0) + ' Ohm (median: ' + median.toFixed(0) + ')';\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 620,
        "wires": [["debug-voc-1"]]
    },
    {
        "id": "debug-voc-1",
        "type": "debug",
        "name": "VOC Alert",
        "active": true,
        "tosideuit": false,
        "console": "false",
        "tostatus": "false",
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "bme680-group-1",
        "type": "ui_group",
        "name": "BME680 Air Quality",
        "tab": "bme680-tab-1",
        "order": 1,
        "disp": true,
        "width": 12
    },
    {
        "id": "bme680-tab-1",
        "type": "ui_tab",
        "name": "BME680 Demo",
        "icon": "dashboard",
        "order": 1,
        "info": "This flow demonstrates the BME680 4-in-1 environmental sensor (temperature, pressure, humidity, gas resistance).\n\nAn inject node fires every 10 seconds into the periph-bme680 node. The output goes to a debug node and six ui_chart nodes showing temperature, pressure, humidity, gas resistance, altitude, and dew point.\n\nA VOC alert function node watches the gas-resistance trace — a sustained drop below 80% of the running 24-hour median triggers a \"VOC concentration rising\" alert. This demonstrates that even the raw uncalibrated gas reading is useful as a relative VOC indicator without the closed-source BSEC library.\n\nGas resistance drops when VOCs (isopropyl alcohol, marker pen fumes, cooking) are present near the sensor and recovers as the air clears."
    }
]
