nodejs/packages/node-red-contrib-periph-environmental/examples/bme280/demo.json
[
    {
        "id": "bme280-device-1",
        "type": "bme280-device",
        "name": "BME280 @ i2c-1",
        "bus": "1",
        "addr": "0x76",
        "osrsT": "1",
        "osrsP": "1",
        "osrsH": "1",
        "mode": "0",
        "filter": "0",
        "tSb": "0"
    },
    {
        "id": "bme280-read-1",
        "type": "periph-bme280",
        "name": "BME280 Indoor",
        "device": "bme280-device-1",
        "seaLevelHpa": "1013.25",
        "wires": [["debug-1", "chart-temp-1", "chart-pres-1", "chart-hum-1", "chart-alt-1", "chart-dew-1", "cond-alert-1"]]
    },
    {
        "id": "inject-timer-1",
        "type": "inject",
        "name": "Every 10 seconds",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "onceDelay": "0.1",
        "wires": [["bme280-read-1"]]
    },
    {
        "id": "debug-1",
        "type": "debug",
        "name": "Debug output",
        "active": true,
        "tosideuit": false,
        "console": "false",
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "chart-temp-1",
        "type": "ui_chart",
        "name": "Temperature",
        "group": "bme280-group-1",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperature (°C)",
        "chartType": "line",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "chart-pres-1",
        "type": "ui_chart",
        "name": "Pressure",
        "group": "bme280-group-1",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Pressure (hPa)",
        "chartType": "line",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "chart-hum-1",
        "type": "ui_chart",
        "name": "Humidity",
        "group": "bme280-group-1",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidity (%RH)",
        "chartType": "line",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "chart-alt-1",
        "type": "ui_chart",
        "name": "Altitude",
        "group": "bme280-group-1",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Altitude (m)",
        "chartType": "line",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "chart-dew-1",
        "type": "ui_chart",
        "name": "Dew Point",
        "group": "bme280-group-1",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Dew Point (°C)",
        "chartType": "line",
        "x": 480,
        "y": 500,
        "wires": []
    },
    {
        "id": "cond-alert-1",
        "type": "function",
        "name": "Condensation Alert",
        "func": "if (msg.payload.dew_point !== null && msg.payload.temperature - msg.payload.dew_point < 2) {\n    msg.payload = 'Condensation likely: T-dew=' + (msg.payload.temperature - msg.payload.dew_point).toFixed(1) + ' C';\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 560,
        "wires": [["debug-cond-1"]]
    },
    {
        "id": "debug-cond-1",
        "type": "debug",
        "name": "Condensation Alert",
        "active": true,
        "tosideuit": false,
        "console": "false",
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 560,
        "wires": []
    },
    {
        "id": "bme280-group-1",
        "type": "ui_group",
        "name": "BME280 Indoor Environment",
        "tab": "bme280-tab-1",
        "order": 1,
        "disp": true,
        "width": 12
    },
    {
        "id": "bme280-tab-1",
        "type": "ui_tab",
        "name": "BME280 Demo",
        "icon": "dashboard",
        "order": 1,
        "info": "This flow demonstrates the BME280 combined humidity + pressure + temperature sensor.\n\nAn inject node fires every 10 seconds into the periph-bme280 node. The output goes to a debug node and five ui_chart nodes showing temperature, pressure, humidity, altitude, and dew point over time.\n\nA condensation-alert function node watches the dew-point trace and emits a 'Condensation likely' alert when temperature minus dew point falls below 2 °C — useful for HVAC, greenhouse, and crawl-space monitoring where surface condensation can damage equipment or promote mould.\n\nThe BME280 combines three sensors (BMP280 pressure/temperature plus a humidity front-end) in one package, making it ideal for indoor air quality, weather stations, and HVAC applications where a separate humidity sensor would otherwise be needed."
    }
]
