nodejs/packages/node-red-contrib-periph-memory/examples/24aa02uid/demo.json
[
    {
        "id": "tab-24aa02uid-demo",
        "type": "tab",
        "label": "24AA02UID UID + Counter",
        "disabled": false,
        "info": "Demonstrates the 24AA02UID's two distinct memory regions. The first branch reads the factory-programmed 32-bit unique serial number every 5 seconds and prints it as a hex string and integer. The second branch writes a 2-byte incrementing counter to user EEPROM address 0x00 on every tick and reads it back, showing the read/write round-trip on the rewritable user EEPROM while the UID never changes."
    },
    {
        "id": "cfg-24aa02uid",
        "type": "24aa02uid-device",
        "name": "24AA02UID",
        "bus": "1",
        "address": "50"
    },
    {
        "id": "inj-tick",
        "type": "inject",
        "name": "every 5 s",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "z": "tab-24aa02uid-demo",
        "x": 130,
        "y": 120,
        "wires": [["read-uid", "counter"]]
    },
    {
        "id": "read-uid",
        "type": "24aa02uid",
        "name": "Read UID",
        "device": "cfg-24aa02uid",
        "z": "tab-24aa02uid-demo",
        "x": 320,
        "y": 120,
        "wires": [["dbg-uid"]]
    },
    {
        "id": "dbg-uid",
        "type": "debug",
        "name": "UID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.uid",
        "statusType": "auto",
        "z": "tab-24aa02uid-demo",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "counter",
        "type": "function",
        "name": "Bump counter",
        "func": "// Read the current 2-byte counter at 0x00, increment, write back.\nconst cur = (flow.get('counter') || 0) + 1;\nflow.set('counter', cur);\nmsg.op      = 'write';\nmsg.address = 0;\nmsg.data    = [ (cur >> 8) & 0xFF, cur & 0xFF ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "z": "tab-24aa02uid-demo",
        "x": 320,
        "y": 200,
        "wires": [["write-counter"]]
    },
    {
        "id": "write-counter",
        "type": "24aa02uid",
        "name": "Write counter",
        "device": "cfg-24aa02uid",
        "z": "tab-24aa02uid-demo",
        "x": 490,
        "y": 200,
        "wires": [["read-counter"]]
    },
    {
        "id": "read-counter",
        "type": "function",
        "name": "Read counter",
        "func": "msg.op = 'read';\nmsg.address = 0;\nmsg.length = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "z": "tab-24aa02uid-demo",
        "x": 660,
        "y": 200,
        "wires": [["dbg-counter"]]
    },
    {
        "id": "dbg-counter",
        "type": "debug",
        "name": "Counter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.data",
        "statusType": "auto",
        "z": "tab-24aa02uid-demo",
        "x": 830,
        "y": 200,
        "wires": []
    }
]
