nodejs/packages/node-red-contrib-periph-adc-dac/examples/mcp4725/demo.json
[
    {
        "id": "inject1",
        "type": "inject",
        "z": "flow1",
        "name": "0.0",
        "payload": "0.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 100,
        "y": 100,
        "wires": [["mcp4725_1"]]
    },
    {
        "id": "inject2",
        "type": "inject",
        "z": "flow1",
        "name": "0.25",
        "payload": "0.25",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 100,
        "y": 160,
        "wires": [["mcp4725_1"]]
    },
    {
        "id": "inject3",
        "type": "inject",
        "z": "flow1",
        "name": "0.5",
        "payload": "0.5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 100,
        "y": 220,
        "wires": [["mcp4725_1"]]
    },
    {
        "id": "inject4",
        "type": "inject",
        "z": "flow1",
        "name": "0.75",
        "payload": "0.75",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 100,
        "y": 280,
        "wires": [["mcp4725_1"]]
    },
    {
        "id": "inject5",
        "type": "inject",
        "z": "flow1",
        "name": "1.0",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 100,
        "y": 340,
        "wires": [["mcp4725_1"]]
    },
    {
        "id": "mcp4725_1",
        "type": "periph-mcp4725",
        "z": "flow1",
        "name": "DAC Output",
        "device": "device1",
        "mode": "fraction",
        "persist": false,
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "device1",
        "type": "periph-mcp4725-device",
        "z": "flow1",
        "name": "",
        "bus": "1",
        "address": "60"
    }
]