nodejs/packages/node-red-contrib-periph-adc-dac/examples/mcp4725/demo.json
[
    {
        "id": "tab-mcp4725-demo",
        "type": "tab",
        "label": "MCP4725 DAC Demo",
        "disabled": false,
        "info": "Sends a sequence of five evenly spaced fraction values (0.0, 0.25, 0.5, 0.75, 1.0) to the MCP4725 at 1-second intervals, demonstrating the DAC stepping through five output levels. Each value is printed to the debug panel as both the fraction and the approximate voltage assuming 3.3 V supply."
    },
    {
        "id": "cfg-mcp4725",
        "type": "mcp4725-device",
        "name": "MCP4725",
        "bus": "1",
        "address": "60"
    },
    {
        "id": "inj-0",
        "type": "inject",
        "name": "0.0",
        "topic": "",
        "payload": "0.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4725-demo",
        "x": 120,
        "y": 100,
        "wires": [["mcp4725"]]
    },
    {
        "id": "inj-1",
        "type": "inject",
        "name": "0.25",
        "topic": "",
        "payload": "0.25",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4725-demo",
        "x": 120,
        "y": 180,
        "wires": [["mcp4725"]]
    },
    {
        "id": "inj-2",
        "type": "inject",
        "name": "0.5",
        "topic": "",
        "payload": "0.5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4725-demo",
        "x": 120,
        "y": 260,
        "wires": [["mcp4725"]]
    },
    {
        "id": "inj-3",
        "type": "inject",
        "name": "0.75",
        "topic": "",
        "payload": "0.75",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4725-demo",
        "x": 120,
        "y": 340,
        "wires": [["mcp4725"]]
    },
    {
        "id": "inj-4",
        "type": "inject",
        "name": "1.0",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "z": "tab-mcp4725-demo",
        "x": 120,
        "y": 420,
        "wires": [["mcp4725"]]
    },
    {
        "id": "mcp4725",
        "type": "periph-mcp4725",
        "name": "MCP4725",
        "device": "cfg-mcp4725",
        "inputMode": "fraction",
        "z": "tab-mcp4725-demo",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "dbg-output",
        "type": "debug",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "z": "tab-mcp4725-demo",
        "x": 560,
        "y": 260,
        "wires": []
    }
]