nodejs/packages/node-red-contrib-periph-environmental/examples/aht21/demo.json
[
    {
        "id": "tab-aht21-demo",
        "type": "tab",
        "label": "AHT21 Weather Station",
        "disabled": false,
        "info": "Reads temperature and humidity from an AHT21 every 5 seconds and displays a formatted string in the debug panel. A second branch feeds two Gauge dashboard widgets for live visual monitoring of temperature and humidity."
    },
    {
        "id": "cfg-aht21",
        "type": "aht21-device",
        "name": "AHT21",
        "bus": "1",
        "address": "38"
    },
    {
        "id": "inj-tick",
        "type": "inject",
        "name": "every 5 s",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "z": "tab-aht21-demo",
        "x": 120,
        "y": 160,
        "wires": [["read-aht21"]]
    },
    {
        "id": "read-aht21",
        "type": "aht21",
        "name": "AHT21",
        "device": "cfg-aht21",
        "z": "tab-aht21-demo",
        "x": 300,
        "y": 160,
        "wires": [["fmt-readings", "gauge-temp", "gauge-hum"]]
    },
    {
        "id": "fmt-readings",
        "type": "function",
        "name": "format",
        "func": "const p = msg.payload;\nmsg.payload = p.temperature_c.toFixed(1) + ' °C / ' + p.humidity_pct.toFixed(1) + ' %RH';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "z": "tab-aht21-demo",
        "x": 480,
        "y": 160,
        "wires": [["dbg-readings"]]
    },
    {
        "id": "dbg-readings",
        "type": "debug",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "z": "tab-aht21-demo",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge-temp",
        "type": "ui_gauge",
        "name": "Temperature",
        "group": "grp-aht21",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": -10,
        "max": 50,
        "z": "tab-aht21-demo",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "gauge-hum",
        "type": "ui_gauge",
        "name": "Humidity",
        "group": "grp-aht21",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%RH",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "z": "tab-aht21-demo",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "grp-aht21",
        "type": "ui_group",
        "name": "AHT21",
        "tab": "tab-aht21-demo",
        "order": 1,
        "disp": true,
        "width": 12
    }
]
