nodejs/packages/node-red-contrib-periph-comms/examples/rfm9x/demo.json
[
    {
        "id": "tab-rfm9x-demo",
        "type": "tab",
        "label": "RFM9x LoRa Transceiver",
        "disabled": false,
        "info": "Sends an incrementing counter as a LoRa packet every 2 seconds and displays received packets with RSSI and SNR in the debug panel. Two RFM9x modules are required for full duplex demonstration."
    },
    {
        "id": "cfg-rfm9x",
        "type": "periph-rfm9x",
        "spiBus": "0",
        "spiDevice": "0",
        "spiCs": "0",
        "variant": "RFM95W",
        "frequency": "868000000",
        "sf": "7",
        "bandwidth": "125",
        "codingRate": "5",
        "txPower": "17",
        "crc": "true"
    },
    {
        "id": "inj-tick",
        "type": "inject",
        "name": "every 2 s",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "z": "tab-rfm9x-demo",
        "x": 120,
        "y": 160,
        "wires": [["tx-counter"]]
    },
    {
        "id": "tx-counter",
        "type": "function",
        "name": "counter",
        "func": "context.state = (context.state || 0) + 1;\nconst cnt = context.state;\nmsg.payload = Buffer.from([(cnt >> 8) & 0xFF, cnt & 0xFF]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "z": "tab-rfm9x-demo",
        "x": 300,
        "y": 160,
        "wires": [["rfm-tx"]]
    },
    {
        "id": "rfm-tx",
        "type": "periph-rfm9x",
        "name": "RFM9x TX",
        "config": "cfg-rfm9x",
        "z": "tab-rfm9x-demo",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "rfm-rx",
        "type": "periph-rfm9x",
        "name": "RFM9x RX",
        "config": "cfg-rfm9x",
        "z": "tab-rfm9x-demo",
        "x": 480,
        "y": 280,
        "wires": [["fmt-rx"]]
    },
    {
        "id": "inj-trigger-rx",
        "type": "inject",
        "name": "trigger rx",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "z": "tab-rfm9x-demo",
        "x": 120,
        "y": 280,
        "wires": [["rfm-rx"]]
    },
    {
        "id": "fmt-rx",
        "type": "function",
        "name": "format",
        "func": "const p = msg.payload;\nif (p && p.data) {\n    const seq = (p.data[0] << 8) | p.data[1];\n    msg.payload = 'seq=' + seq + ' rssi=' + p.rssi.toFixed(1) + ' snr=' + p.snr.toFixed(1);\n} else {\n    msg.payload = 'timeout';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "z": "tab-rfm9x-demo",
        "x": 650,
        "y": 280,
        "wires": [["dbg-rx"]]
    },
    {
        "id": "dbg-rx",
        "type": "debug",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "z": "tab-rfm9x-demo",
        "x": 820,
        "y": 280,
        "wires": []
    }
]